%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
{erl_opts, [debug_info, warnings_as_errors]}.
{erl_first_files, ["src/sqerl_client.erl"]}.
{eunit_opts, [verbose]}.
{cover_enabled, true}.

{deps, [{emysql, ".*", {git, "https://github.com/Eonblast/Emysql.git", "HEAD"}},
        {epgsql, ".*", {git, "git://github.com/wg/epgsql.git", "HEAD"}},
        {automeck, ".*",
         {git, "git@github.com:opscode/automeck.git", {branch, "multi"}}},
        {poolboy, ".*",
         {git, "git://github.com/kevsmith/poolboy.git", {branch, "init_fun"}}}]}.

