%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
{erl_opts, [debug_info, warnings_as_errors]}.
{erl_first_files, ["src/sqerl_client.erl"]}.

{deps, [
        %% This is until a patch of ours gets merged into the main epgsql repo
        {epgsql, ".*",
         {git, "git://github.com/opscode/epgsql.git", "master"}},

        {pooler, ".*",
         {git, "git://github.com/seth/pooler.git", {tag, "1.1.0"}}},

        {envy, ".*",
         {git, "git://github.com/manderson26/envy.git", {branch, "master"}}}
       ]}.

{dev_only_deps,
 [
  %% Use of the exprec parse transform included in parse_trans makes
  %% implementing the sqerl_rec behaviour much easier, but is not
  %% strictly required. It is included as a dev dep for testing.
  {parse_trans, ".*",
   {git, "https://github.com/uwiger/parse_trans.git", {branch, "master"}}}
 ]}.

{cover_enabled, true}.
