%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% Type spec dict() is deprecated in R17 to be removed in R18 in
%% preference for dict:dict(). But the fix is not compatible with <=
%% R16.
{erl_opts,
    [{platform_define, "^[0-9]+", namespaced_types},
     {platform_define, "^(19|[2-9])+", typed_records},
     debug_info,
     warnings_as_errors]}.

{erl_first_files, ["src/sqerl_client.erl"]}.

{deps, [
        %% This is until a patch of ours gets merged into the main epgsql repo
        {epgsql, ".*",
         {git, "git://github.com/chef/epgsql-1.git", {branch, "master"}}},

        {pooler, ".*",
         {git, "git://github.com/seth/pooler.git", {tag, "1.5.0"}}},

        {envy, ".*",
         {git, "git://github.com/manderson26/envy.git", {branch, "master"}}}
       ]}.

{dev_only_deps, []}.

{cover_enabled, true}.

%% Common Test (ct) ============================================================
{ct_dir, "common_test"}.
{ct_log_dir, "common_test/logs"}.
